$m10: 10px;
.margin {
  margin: $m10;
}

.margin-top {
  margin-top: $m10;
}

.margin-button {
  margin-bottom: $m10;
}

.margin-right {
  margin-right: $m10;
}

.margin-left {
  margin-left: $m10;
}
.text-center{
  text-align: center;
}
